{{ define "lihatkat" }}
    {{ template "header" }}
    <div class="row">
        <div class="col m8">
            <div class="row">
                <div class="col m6">
                    <a href="/tambahkat?idUser=" class="#00bfa5 teal accent-4 z-depth-3 btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="input-field col m6 hoverable">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="myInput" onkeyup="myFunction()" class="validate" placeholder="Cari nama kategori..">
                </div>
            </div>
            <table id="myTable" class="responsive-table striped">
                <thead style=" font-family: 'Denk One', sans-serif;">
                    <tr>
                        <th><i class="material-icons">brush</i> Nama Kategori</th>
                        <th><i class="material-icons">date_range</i> Tanggal Buat</th>
                        <th><i class="material-icons">label_outline</i> Opsi</th>
                    </tr>
                </thead>
                <tbody style="font-family:Rockwell">
                    {{ range . }}
                    <tr>
                        <td>{{ .NmKategori }}</td>
                        <td>{{ .TglBuat }}</td>
                        <td>
                            <a href="#modal{{ .IdKategori }}" class="btn-floating tooltipped btn-small #e53935 red darken-1 modal-trigger z-depth-5" data-position="bottom" data-tooltip="Hapus kategori"><i class=" material-icons"><div style="color:white">delete</div></i></a>
                            <div id="modal{{ .IdKategori }}" class="modal" style="background-image:url(img/bg.jpg)">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col m10 offset-m1">
                                            <h4 align="center">Yakin ingin menghapus ?</h4>  
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/hapuskat?IdKat={{ .IdKategori }}" class="modal-close waves-effect waves-green btn-flat">Ya</a>
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Tidak</a>
                                    </div>
                                </div>
                            </div>
                            <a href="/ubahkat?IdKat={{ .IdKategori }}" class="btn-floating tooltipped btn-small #546e7a blue-grey darken-1 z-depth-5" data-position="bottom" data-tooltip="Ubah kategori"><i class="material-icons"><div style="color:white">edit</div></i></a>
                            <a href="/listbook?kategori={{ .IdKategori }}" class="btn-floating tooltipped btn-small #546e7a blue-grey darken-1 z-depth-5" data-position="bottom" data-tooltip="List bookmark"><i class="material-icons"><div style="color:white">remove_red_eye</div></i></a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            <script>
                    function myFunction() {
                      // Declare variables 
                      var input, filter, table, tr, td, i;
                      input = document.getElementById("myInput");
                      filter = input.value.toUpperCase();
                      table = document.getElementById("myTable");
                      tr = table.getElementsByTagName("tr");
                    
                      // Loop through all table rows, and hide those who don't match the search query
                      for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                          } else {
                            tr[i].style.display = "none";
                          }
                        } 
                      }
                    }
            </script>
        </div>
        {{ template "sidebar" }}
    </div>
    {{ template "footer" }}
{{ end }}